.complete-task-button {
    margin-top: 16px;
    padding: 8px 16px;
    border: none;
    border-radius: 15px;
    background: #3B82F6;
    color: #F8FAFC;
    font-weight: 600;
    cursor: pointer;
}

.complete-task-button:hover{
    background: #2563EB;
}